.info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    margin: 0 auto;
    text-align: center;
    font-size: 9rem;
    width: 90%;
    justify-content: flex-start;
  }

  &_total {
    font-size: 11rem;
    color: transparent;
    text-align: center;
    animation: color-change 2s linear infinite;
    text-shadow: 0 0 11px rgba($white, 0.5);

    @media (max-width: 768px) {
      text-align: center;
      font-size: 7rem;
      width: 70%;
    }
  }

  &_stats {
    overflow: hidden;
    margin: 2rem 0;
    border-radius: 0.1rem;
    width: 60%;
    box-shadow: 0 3px 1rem rgba($white, 0.5);
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_item {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin: 0;
      height: 100%;
      width: 90%;
      font-size: 3.3rem;
      color: rgba($black, 0.5);
      transition: all 0.3s ease-in-out;
      position: relative;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 1.8rem;
        margin-top: 0;
      }

      p {
        margin: 0 auto;
        bottom: 0;
        position: absolute;
        font-size: 1rem;
        color: rgba($color: $black, $alpha: 0);
        display: hidden;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      &:hover {
        color: rgba($black, 0.7);
        width: 125%;
        font-size: 5rem;
        color: $black;
        padding-bottom: 1rem;
        p {
          color: rgba($color: $black, $alpha: 0.7);
          font-size: 1rem;
        }
      }
    }
    @media (max-width: 768px) {
      height: 50px;
      font-size: 1rem;
      margin: 0;
    }
  }
}

@keyframes color-change {
  0% {
    color: rgba($color: red, $alpha: 0.88);
  }
  20% {
    color: rgba($color: orange, $alpha: 0.88);
  }
  40% {
    color: rgba($color: yellow, $alpha: 0.88);
  }
  80% {
    color: rgba($color: orange, $alpha: 0.88);
  }
  100% {
    color: rgba($color: red, $alpha: 0.88);
  }
}
