.info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &_total {
    font-size: 11rem;
    color: transparent;
    text-align: center;
    animation: color-change 2s linear infinite;
    text-shadow: 0 0 11px rgba($white, 0.5);

    @media (max-width: 768px) {
      margin: 0 auto;
      text-align: center;
      padding-top: 0.5rem;
      font-size: 9rem;
      width: 70%;
      height: 20vh;
    }
  }
}

@keyframes color-change {
  0% {
    color: rgba($color: red, $alpha: 0.88);
  }
  20% {
    color: rgba($color: orange, $alpha: 0.88);
  }
  40% {
    color: rgba($color: yellow, $alpha: 0.88);
  }
  80% {
    color: rgba($color: orange, $alpha: 0.88);
  }
  100% {
    color: rgba($color: red, $alpha: 0.88);
  }
}
