.list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  @media (max-width: 768px) {
    overflow-y: scroll;
    height: 100%;
    max-height: 42vh;
    justify-content: flex-start;
    margin-top: 1rem;
  }
}
