.manage {
  height: $page-height;
  padding: 1rem;
  width: 100%;

  &_title {
    text-align: center;
    font-size: 3rem;
  }

  &_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 1rem;
  }
}
