* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #333;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, #111, #333); }

a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }
  a:hover {
    color: #fff; }

.base {
  width: 100%;
  height: 90vh; }
  .base_title {
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    font-size: 2.5rem;
    word-spacing: 11px; }
  .base_subtitle {
    margin: 0 auto;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    word-spacing: 3px; }
  .base_content {
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80%; }

.red {
  background-color: rgba(255, 0, 0, 0.88); }

.orange {
  background-color: rgba(255, 165, 0, 0.88); }

.yellow {
  background-color: rgba(255, 255, 0, 0.88); }

.flame {
  margin-left: -42px;
  bottom: 0;
  position: absolute;
  width: 139%;
  height: 420px;
  bottom: 42px;
  z-index: 5;
  clip-path: polygon(0% 89%, 3% 82%, 6% 78%, 7% 84%, 8% 92%, 12% 89%, 13% 86%, 16% 91%, 21% 96%, 21% 87%, 24% 91%, 29% 81%, 30% 88%, 32% 93%, 36% 93%, 38% 87%, 42% 91%, 45% 83%, 48% 79%, 52% 83%, 51% 88%, 53% 92%, 57% 93%, 58% 89%, 61% 86%, 61% 81%, 65% 85%, 65% 89%, 69% 93%, 74% 91%, 73% 87%, 78% 82%, 78% 87%, 81% 91%, 86% 92%, 88% 85%, 92% 88%, 95% 83%, 100% 88%, 100% 100%, 0% 100%); }
  .flame-1 {
    animation: left-right 11s infinite linear;
    animation-delay: 333ms;
    background-color: rgba(255, 0, 0, 0.69);
    height: 400px; }
  .flame-2 {
    animation: right-left 5s infinite linear;
    animation-delay: 420ms;
    background-color: rgba(255, 255, 0, 0.88);
    height: 333px; }
  .flame-3 {
    animation: left-right 7s infinite linear;
    animation-delay: 690ms;
    background-color: rgba(255, 166, 0, 0.77); }

@keyframes left-right {
  0% {
    transform: translateX(-100px); }
  12% {
    transform: translateX(-33px); }
  25% {
    transform: translateX(0px); }
  37% {
    transform: translateX(33px); }
  50% {
    transform: translateX(0px); }
  62% {
    transform: translateX(-33px); }
  75% {
    transform: translateX(0px); }
  87% {
    transform: translateX(33px); }
  100% {
    transform: translateX(-100px); } }

@keyframes right-left {
  0% {
    transform: translateX(-100px); }
  12% {
    transform: translateX(-33px); }
  25% {
    transform: translateX(0px); }
  37% {
    transform: translateX(33px); }
  50% {
    transform: translateX(0px); }
  62% {
    transform: translateX(-33px); }
  75% {
    transform: translateX(0px); }
  87% {
    transform: translateX(33px); }
  100% {
    transform: translateX(-100px); } }

.footer {
  width: 100%;
  height: 5vh;
  background-color: #222;
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  z-index: 7; }
  .footer_container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px;
    height: 100%; }

.info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column; }

.card {
  clip-path: polygon(100% 0%, 100% 20px, 90% 100%, 0 100%, 0 10px, 10px 0);
  background-color: #fff;
  color: #000;
  width: 100%;
  max-width: 420px;
  position: relative; }
  .card_title {
    text-align: left;
    padding-left: 1rem;
    padding-top: 1.3rem;
    max-width: 90%; }
  .card_date {
    height: 23px;
    clip-path: polygon(100% 0%, 100% 20px, 20px 20px, 0% 0%);
    position: absolute;
    width: 100px;
    font-size: 0.77rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    color: #000;
    top: 0;
    right: 0; }
