* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #333;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, #111, #333); }

a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }
  a:hover {
    color: #fff; }

.base {
  width: 100%;
  height: 90vh; }
  .base_title {
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    font-size: 4.2rem;
    word-spacing: 11px; }
    @media (max-width: 768px) {
      .base_title {
        margin: 0 auto;
        text-align: center;
        padding-top: 1rem;
        font-size: 2.5rem;
        word-spacing: 3px; } }
  .base_subtitle {
    margin: 0 auto;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    word-spacing: 3px; }
    @media (max-width: 768px) {
      .base_subtitle {
        margin: 0 auto;
        text-align: center;
        font-size: 1rem;
        width: 70%; } }
  .base_content {
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh; }
    @media (max-width: 768px) {
      .base_content {
        flex-direction: column;
        justify-content: start;
        height: 75%;
        padding: 0rem 3rem; } }

.red {
  background-color: rgba(255, 0, 0, 0.88); }

.orange {
  background-color: rgba(255, 165, 0, 0.88); }

.yellow {
  background-color: rgba(255, 255, 0, 0.88); }

.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative; }

.flame {
  margin-left: -42px;
  bottom: 0;
  position: absolute;
  width: 139%;
  height: 420px;
  bottom: 42px;
  z-index: 5;
  clip-path: polygon(0% 89%, 3% 82%, 6% 78%, 7% 84%, 8% 92%, 12% 89%, 13% 86%, 16% 91%, 21% 96%, 21% 87%, 24% 91%, 29% 81%, 30% 88%, 32% 93%, 36% 93%, 38% 87%, 42% 91%, 45% 83%, 48% 79%, 52% 83%, 51% 88%, 53% 92%, 57% 93%, 58% 89%, 61% 86%, 61% 81%, 65% 85%, 65% 89%, 69% 93%, 74% 91%, 73% 87%, 78% 82%, 78% 87%, 81% 91%, 86% 92%, 88% 85%, 92% 88%, 95% 83%, 100% 88%, 100% 100%, 0% 100%); }
  @media (max-width: 768px) {
    .flame {
      bottom: 22px; } }
  .flame-1 {
    animation: left-right 11s infinite linear;
    background-color: rgba(255, 0, 0, 0.69);
    height: 400px; }
  .flame-2 {
    animation: right-left 5s infinite linear;
    background-color: rgba(255, 255, 0, 0.88);
    height: 333px; }
  .flame-3 {
    animation: left-right 7s infinite linear;
    background-color: rgba(255, 166, 0, 0.77); }

@keyframes left-right {
  0% {
    transform: translateX(-100px); }
  12% {
    transform: translateX(-33px); }
  25% {
    transform: translateX(0px); }
  37% {
    transform: translateX(33px); }
  50% {
    transform: translateX(0px); }
  62% {
    transform: translateX(-33px); }
  75% {
    transform: translateX(0px); }
  87% {
    transform: translateX(33px); }
  100% {
    transform: translateX(-100px); } }

@keyframes right-left {
  0% {
    transform: translateX(-100px); }
  12% {
    transform: translateX(-33px); }
  25% {
    transform: translateX(0px); }
  37% {
    transform: translateX(33px); }
  50% {
    transform: translateX(0px); }
  62% {
    transform: translateX(-33px); }
  75% {
    transform: translateX(0px); }
  87% {
    transform: translateX(33px); }
  100% {
    transform: translateX(-100px); } }

.footer {
  width: 100%;
  height: 5vh;
  background-color: #222;
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  z-index: 7; }
  .footer_container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px;
    height: 100%; }

.info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .info {
      margin: 0 auto;
      text-align: center;
      font-size: 9rem;
      justify-content: flex-start; } }
  .info_total {
    font-size: 11rem;
    color: transparent;
    text-align: center;
    animation: color-change 2s linear infinite;
    text-shadow: 0 0 11px rgba(255, 255, 255, 0.5); }
    @media (max-width: 768px) {
      .info_total {
        text-align: center;
        font-size: 4rem;
        width: 100%; } }
  .info_stats {
    overflow: hidden;
    margin: 2rem 0;
    border-radius: 0.1rem;
    width: 60%;
    box-shadow: 0 3px 1rem rgba(255, 255, 255, 0.5);
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .info_stats_item {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin: 0;
      height: 100%;
      width: 90%;
      font-size: 3.3rem;
      color: rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease-in-out;
      position: relative;
      text-align: center; }
      @media (max-width: 768px) {
        .info_stats_item {
          font-size: 1.8rem;
          margin-top: 0;
          width: 77%; }
          .info_stats_item span {
            font-size: 1rem; }
          .info_stats_item p {
            display: none; } }
      .info_stats_item p {
        margin: 0 auto;
        bottom: 0;
        position: absolute;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0);
        display: hidden;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        letter-spacing: 5px; }
      .info_stats_item:hover {
        color: rgba(0, 0, 0, 0.7);
        width: 125%;
        font-size: 5rem;
        color: #000;
        padding-bottom: 1rem; }
        .info_stats_item:hover p {
          color: rgba(0, 0, 0, 0.7);
          font-size: 1rem; }
      @media (max-width: 768px) {
        .info_stats_item:hover {
          margin-bottom: 0;
          padding-bottom: 0; } }
    @media (max-width: 768px) {
      .info_stats {
        height: 50px;
        font-size: 1rem;
        margin: 0; } }

@keyframes color-change {
  0% {
    color: rgba(255, 0, 0, 0.88); }
  20% {
    color: rgba(255, 165, 0, 0.88); }
  40% {
    color: rgba(255, 255, 0, 0.88); }
  80% {
    color: rgba(255, 165, 0, 0.88); }
  100% {
    color: rgba(255, 0, 0, 0.88); } }

.list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column; }
  @media (max-width: 768px) {
    .list {
      overflow-y: scroll;
      height: 100%;
      max-height: 42vh;
      justify-content: flex-start;
      margin-top: 1rem; } }

.card {
  clip-path: polygon(100% 0%, 100% 20px, 90% 100%, 0 100%, 0 10px, 10px 0);
  background-color: #fff;
  color: #000;
  width: 100%;
  max-width: 420px;
  position: relative; }
  .card_title {
    text-align: left;
    padding-left: 1rem;
    padding: 1rem 0.5rem;
    max-width: 90%; }
  .card_date {
    height: 23px;
    clip-path: polygon(100% 0%, 100% 20px, 20px 20px, 0% 0%);
    position: absolute;
    width: 100px;
    font-size: 0.77rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    color: #000;
    top: 0;
    right: 0; }
    @media (max-width: 768px) {
      .card_date {
        height: 17px;
        font-size: 0.5rem; } }
  @media (max-width: 768px) {
    .card {
      margin-top: 0.7rem;
      font-size: 0.85rem; } }

.login {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 422px;
  border: rgba(255, 255, 255, 0.4) 1px solid;
  border-radius: 2px;
  background-color: transparent;
  overflow: hidden;
  z-index: 1; }
  .login::before {
    content: "";
    height: 300%;
    width: 300%;
    position: absolute;
    background: conic-gradient(#ff0000, #ffff00, #ff0000, #ffff00, #ff0000);
    left: -100%;
    top: -100%;
    animation: spin 1.5s infinite linear; }

@keyframes spin {
  100% {
    transform: rotate(-360deg); } }
  .login::after {
    content: "";
    background-color: #000;
    position: absolute;
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.5%; }
  @media (max-width: 768px) {
    .login {
      width: 80%;
      height: 42vh; } }
  .login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 70%;
    padding: 2rem; }
    .login__form .error {
      text-align: center; }
    .login__form input {
      background-color: transparent;
      border: rgba(255, 255, 255, 0.4) 1px solid;
      border-radius: 3px;
      padding: 1rem;
      margin: 2rem 0;
      text-align: center;
      height: 4rem;
      width: 100%; }
      @media (max-width: 768px) {
        .login__form input {
          height: 2.5rem;
          margin: 1rem; } }
    .login__form button {
      border: rgba(255, 0, 0, 0.4) 1px solid;
      border-radius: 3px;
      padding: 1rem;
      margin: 2rem 0;
      text-align: center;
      color: #000;
      font-size: 1.5rem;
      cursor: pointer;
      height: 4rem;
      width: 100%;
      transition: all 0.1s linear; }
      .login__form button:hover {
        transform: translateY(-4px);
        box-shadow: 0 1rem 2rem rgba(255, 0, 0, 0.4); }
      @media (max-width: 768px) {
        .login__form button {
          height: 2.5rem;
          padding: 0rem;
          margin: 1rem 0; } }
